.r-image-elements{
    background-color: whitesmoke;
    box-shadow: 0 0 5px 1px white;
    border-radius: 15px;
    margin-bottom: .5rem;

}

.random-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;
}

