.alert-elements{
    background-color: whitesmoke;
    box-shadow: 0 0 5px 1px white;
    border-radius: 15px;
    margin-bottom: .5rem;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



